@media only screen and (min-width: 260px) and (max-width: 768px) {
    .container {
        max-width: 550px;
        margin-top: 30px;
        margin-bottom: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 25px;
        border-radius: 15px;
        background: white;
    }

    .light_mode {
        background: white;
        color: black
    }

    .dark_mode {
        background: rgb(17, 17, 17);
        color: white;
    }

    .container_button {
        margin-top: 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .container_upload_image {
        position: absolute;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        right: 10px;
        bottom: -7%;
    }

    .input_upload {
        display: none;
    }

    .upload {
        position: relative;
        cursor: pointer;
        display: flex;
        margin-top: -45px;
        height: 37px;
        width: 37px;
        z-index: 6;
    }

    .loading {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media only screen and (min-width: 769px) {
    .container {
        max-width: 550px;
        margin-top: 30px;
        margin-bottom: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 25px;
        border-radius: 15px;
        background: white;
    }

    .light_mode {
        background: white;
        color: black
    }

    .dark_mode {
        background: rgb(17, 17, 17);
        color: white;
    }

    .container_button {
        margin-top: 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .container_upload_image {
        position: absolute;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        right: 10px;
        bottom: -7%;
    }

    .input_upload {
        display: none;
    }

    .upload {
        position: relative;
        cursor: pointer;
        display: flex;
        margin-top: -45px;
        height: 37px;
        width: 37px;
        z-index: 6;
    }

    .loading {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}