.container_form {
    width: 100%;
    max-width: 380px;
    height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.light_mode {
    background: rgb(255, 255, 255);
    color: rgba(0, 0, 0);
    transition: all 0.50s linear;
}

.dark_mode {
    color: #ffff;
    background: rgb(17, 17, 17);
    transition: all 0.50s linear;
}

.form_terms_link {
    margin: 10px 0;
    text-align: center;
    width: 70%;
}

@media screen and (max-width: 320px) {
    .form_terms_link {
        margin: 10px 0;
        text-align: center;
        width: 90%;
    }
}

.form_text_input_error {
    transition: all 0.5s linear;
    text-align: left;
    word-wrap: break-word;
    padding-right: 5px;
    max-width: 250px;
    width: 100%;
    font-size: 13px;
    margin: 5px 0 0 3px;
    color: #e92121e1;
    display: block;
}

.container_logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 75px;
    margin-top: 20px;
    padding: 0;
}