.field {
  margin: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 280px;
  max-height: 40vh;
  border-radius: 5px;
}

.field_label {
  padding-top: 2px;
  margin-top: 5px;
  color:rgba(71, 71, 71, 0.555);
  border-radius: 5px;
}
 
.field_input {
  width: 255px;
  max-width: 350px;
  padding-right: 15px;
  height: 37px;
  line-height: 37px;
  border: 2px solid transparent;
  transition: .3s ease all;
  border-radius: 5px;
}

.field_input:focus {
  width: 255px;
  border: 2px solid #0077ffd0;
  outline: none;
  box-shadow: 3px 0 30px rgba(130, 130, 130, 0.2);
  transition: .1s ease all;
  border-radius: 5px;
}

.field_input::placeholder {
  color:rgba(255, 255, 255, 0.2);
  border-radius: 5px;
}

.field_input_error {
  transition: all 0.5s linear;
  text-align: left;
  word-wrap: break-word;
  padding-right: 5px;
  max-width: 250px;
  width: 100%;
  font-size: 13px;
  margin: 5px 0 0 3px;
  color: #e92121e1;
  display: block;
}

.field_input:focus:not(:focus-visible) {
  width: 255px;
  background: transparent;
  border-radius: 5px;
}

.field_input_light {
  background: rgb(233, 232, 232);
  color: #000000;
}

.field_input_dark {
  background: #343434;
  color: white;
}

.field_update_input {
  width: 255px;
  max-width: 350px;
  padding-right: 15px;
  height: 37px;
  line-height: 37px;
  border: none;
  border: 2px solid transparent;
  background: transparent;
  border-bottom: 1px solid grey;
  transition: .1s ease all;
}

.field_update_input:focus:not(:focus-visible) {
  background: transparent;
  border-radius: 5px;
}
.field_update_input:hover {
  box-shadow: 3px 0 30px rgba(130, 130, 130, 0.2);
  border: 2px solid #0000004f;
  border-radius: 5px;
}
.field_update_input:focus {
  border: none;
  border: 2px solid #0077ffd0;
}
.field_update_input:active {
  border: none;
  border: 2px solid #0077ffd0;
}
.field_update_input::placeholder {
  border: none;
}