.like {
    border: 2px;
    transition: ease all 1s;
}

.liked {
    border: 2px;
    color: rgb(159, 29, 240);
    transition: ease all 1s;
}

.light {
    color: black
}


.dark {
    color: white;
}