.container_back {
    width: 100%;
    height: auto;
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    padding-top: 5px;
    border-bottom: 1px solid #e6e6e6;
}

.back {
    margin: 5px 5px 0 5px;
    display: flex; 
    flex-direction: row;
    align-items: center;
    font-size: 32px;
    font-weight: 600;
    color: #7d7d7d;
    
}

.back:hover {
    color: #2f2f2f;
    cursor: pointer;
    border-radius: 50%;
}

.back_text {
    margin-top: -5px;
    font-weight: 600;
}