.button {
  border: none;
  text-decoration: none;
  word-wrap: break-word;
  height: 37px;
  line-height: 37px;
  font-size: 16px;
  font-weight: 600;
  color: rgb(0, 0, 0);
  text-align: center;
  border-radius: 45px;
  padding-right: 13px;
  padding-left: 13px;
  max-width: 400px;
}

.primary {
  color: #ffff;
  background: rgb(159, 29, 240)
}

.rounded {
  color: #ffff;
  background: rgb(159, 29, 240);
}

.login {
  width: 255px;
  min-width: 200px;
  color: #ffff;
  background: rgb(159, 29, 240)
}

.login:hover {
  cursor: pointer;
  background: rgb(147, 22, 225)
}

.login:focus {
  border: 1px solid rgb(255, 255, 255);
  background: rgb(147, 22, 225)
}
.login:active {
  border: 1px solid rgb(255, 255, 255);
  background: rgb(147, 22, 225)
}

.primary:hover {
  cursor: pointer;
  background: rgb(147, 22, 225)
}

.primary:focus {
  border: 1px solid rgb(255, 255, 255);
  background: rgb(147, 22, 225)
}
.primary:active {
  border: 1px solid rgb(255, 255, 255);
  background: rgb(147, 22, 225)
}

.secondary {
  color: #ffff;
  background: #1f1e1e;
}

.secondary:hover {
  cursor: pointer;
  background: #0c0c0c;
}

.secondary:focus {
  border: 1px solid #FFD700;
  background: #0c0c0c;
}
.secondary:active {
  border: 1px solid #FFD700;
  background: #0c0c0c;
}

.success {
  color: #ffff;
  background: #00b300;
}

.cancel {
  background: #ee0f0f;
  color: rgb(243, 243, 243);
}

.cancel:hover {
  cursor: pointer;
  background: #ee0f0fd2;
}

.disabled {
  pointer-events: none;
  box-shadow: none;
  background: #ccc;
  cursor: not-allowed !important;
}

.disabled:hover {
  cursor: not-allowed !important;
  background: #ccc;
}
