.button {
    border: none;
    text-decoration: none;
    word-wrap: break-word;
    min-width: 120px;
    width: 25%;
    height: 45px;
    line-height: 45px;
    font-size: 16px;
    font-weight: 600;
    color: rgb(0, 0, 0);
    text-align: center;
    border-radius: 20px;
    margin-right: 3px;
    margin-left: 3px;
  }
  
  .primary {
    color: #ffff;
    background: hsl(218, 100%, 50%);
  }
  
  .primary:hover {
    cursor: pointer;
    background: hsla(218, 100%, 50%, 0.795);
  }
  
  .primary:focus {
    border: 1px solid #0000;
  }
  
  .secondary {
    color: #ffff;
    background: #e05d11;
  }
  
  .secondary:hover {
    cursor: pointer;
    background: #e6671e;
  }
  
  .secondary:focus {
    border: 1px solid #0000;
  }
  
  .search {
    margin-left: 5px;
    color: #ffff;
    background: #8228b6;
  
  }
  
  .search:hover {
    background: #8c2bc4;
    cursor: pointer; 
  }
  
  .search:focus {
    border: 1px solid rgba(158, 158, 158, 0);
  }
  
  .cancel {
    background: #ee0f0f;
    color: rgb(243, 243, 243);
  }
  
  .cancel:hover {
    background: #ee0f0fd2;
  }
  
  .disabled {
    pointer-events: none;
    box-shadow: none;
    background: #ccc;
  }
  
  .disabled:hover {
    cursor: not-allowed !important;
    background: #ccc;
  }
  