
.icon_light_mode {
    font-size: 22px;
    border-radius: 50%;
    color: #000;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: filter 300ms;
}

.icon_light_mode:hover  {
    color: rgb(43, 43, 43);
    cursor: pointer;
}
.icon_light_mode:focus  {
    color: rgb(43, 43, 43);
    filter: brightness(1.2);

}
.icon_light_mode:active  {
    color: rgb(43, 43, 43);
    filter: brightness(1.2);
}


.icon_dark_mode  {
    font-size: 22px;
    border-radius: 50%;
    color: #fff;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: filter 300ms;
}

.icon_dark_mode:hover  {
    cursor: pointer;
    color: rgb(194, 194, 194);
}

.icon_dark_mode:focus  {
    color: rgb(194, 194, 194);
    filter: brightness(1.2);
}

.icon_dark_mode:active  {
    color: rgb(194, 194, 194);
}
