@media only screen and (min-width: 260px) and (max-width: 768px) {
  .container {
  }

  .light_mode {
    background: white;
  }

  .dark_mode {
    background: black;
    color: rgb(231, 231, 231)
  }

  .dark_mode .data {
    color: rgb(231, 231, 231)
  }

  .user_header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
  }

  .container_profile_picture {
    margin: 0;
    padding: 0;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .user_profile_picture {
    z-index: 3;
  }

  .container_header_data {
    display: flex;
    flex-direction: column;
  }

  .container_user_data {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .container_username {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    z-index: 4;
    padding-left: 10px;
    margin-top: -15%;
    margin-bottom: 5%;
    color: white;
  }

  .verify {
    margin-top: -12px;
    font-size: 20px;
    color: rgb(46, 135, 244);
    background: white;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.144);
  }

  .user_data {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 0;  
    margin-top: 5px;
  }

  .data_number {
    height: 35px;
    background: rgba(207, 207, 207, 0.148);
    border-radius: 50%;
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    align-content: center;
    padding: 0;
    margin: 0;
  }


  .data_posts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4px;
  }

  .container_user_description {
    margin-bottom: 10px;
    display: flex;
    padding-left: 10px;
  }

  .container_buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }

}