@media only screen and (min-width: 260px) and (max-width: 768px) {
  .container {
    padding: 25px 10px;
  }

  .light_mode {
    background: white;
  }

  .dark_mode {
    background: black;
    color: rgb(231, 231, 231)
  }

  .dark_mode .data {
    color: rgb(231, 231, 231)
  }

  .user_header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
  }

  .container_profile_picture {
    max-width: 150px;
  }

  .user_profile_picture {
    max-width: 500px;
    z-index: 3;
  }

  .container_header_data {
    display: flex;
    flex-direction: column;
  }

  .container_user_data {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .container_username {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .user_data {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 0;
  }

  .data_followers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4px;
  }

  .data_posts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4px;
  }

  .data_followings {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4px;
  }

  .data {
    font-size: 0.9em;
  }

  .container_user_description {
    margin-bottom: 10px;
    display: flex;
  }

  .container_buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
  }

}