.menu_wrapper {
  cursor: pointer;
}

.menu_open {
  visibility: visible;
  transform: scale(1);
  opacity: 1;
}

.menu_close {
  visibility: hidden;
  transform: scale(0);
  opacity: 0;
}

.menu_ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.menu_list {
  list-style: none;
}

.menu_list:hover {
  background: #3f78f3;
  list-style: none;
}

.menu_list:focus {
  background: #2564eb;
  list-style: none;
}

.menu_list:active {
  background: #2564eb;
  list-style: none;
}

.menu{
  position: absolute;
  top: -1px;
  right: 15px;
  width: 200px;
  border-radius: 3px;
  transition: all 0.3s cubic-bezier(.35,0,.25,1);
  transform-origin: top right;
  font-size: 1em;
}

.light {
  background: white;
  color: black;
  box-shadow: 2px 1px 18px 3px rgba(0,0,0,0.64);
-webkit-box-shadow: 2px 1px 18px 3px rgba(0,0,0,0.64);
-moz-box-shadow: 2px 1px 18px 3px rgba(0,0,0,0.64);
}

.dark {
background: rgb(24, 24, 24);
color: white;
box-shadow: 2px 1px 18px 3px rgba(255,255,255,0.64);
-webkit-box-shadow: 2px 1px 18px 3px rgba(255,255,255,0.64);
-moz-box-shadow: 2px 1px 18px 3px rgba(255,255,255,0.64);
}
