.benefits_for_verifying {
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.title_verified {
    display: "flex";
    flex-direction: "column";
    align-items: "center";
    justify-content: "center";
    margin-bottom: 10px;
}

.benefits {
    margin-bottom: 10px;
}

.benefits_actions {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.benefits_price {
    padding: 10px;
}