.option {
    height: 37px;
    line-height: 37px;
    font-size: 16px;
      background: transparent;
      border: none;
      width: 100%;
      display: flex;
      align-items: flex-start;
    }
  
    .light {
      color: black
    }
  
    .dark {
  color: white
    }