.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 45px;
    width: 100%;
    margin-top: 5px;
    padding-left: 15px;
    padding-right: 15px;
}

.user_post {
    display: inline-block
}

.creator_post {
    display: inline-block
}

.disguise {
    display: none;
}