body {
  height: 100vh;
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 100%;
  background: #ececece5;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-size: 2em;
  margin: 0;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-size: 1.8em;
  margin: 0;
}

h3 {
  font-family: "Roboto", sans-serif;
  word-wrap: break-word;
  font-size: 1.5em;
  font-weight: 400;
  margin: 0;
}

h4 {
  font-family: "Roboto", sans-serif;
  word-wrap: break-word;
  font-size: 1.3em;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 0;
}

p {
  word-wrap: break-word;
  font-size: 1em;
  font-weight: 400;
}

li {
  list-style: none;
}

input[type="checkbox"] {
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

.dark_mode {
  transition: all 0.50s linear;
  background: #1a1a1a;
  color: #fff;
}

.light_mode {
  transition: all 0.50s linear;
  background: #fff;
  color: #1a1a1a;
}

@media (min-width: 1200px) {
  html {
    font-size: 1.2em;
  }
}
