.layout_light_mode {
    width: 100vw;
    transition: all 0.50s linear;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
}

.layout_dark_mode {
    width: 100vw;
    transition: all 0.50s linear;
    background: #000;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.layout_container_links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}