
.icon_light_mode {
    font-size: 30px;
    border-radius: 50%;
    color: #000;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: filter 300ms;
}
.icon_light_mode:hover  {
    cursor: pointer;
    filter: brightness(1.2);
    background: rgb(185, 185, 185);
}
.icon_light_mode:focus  {
    color: black;
    filter: brightness(1.2);
    background: rgb(167, 167, 167);

}
.icon_light_mode:active  {
    color: black;
    background: rgb(167, 167, 167);
    filter: brightness(1.2);
}

.icon_dark_mode  {
    font-size: 30px;
    border-radius: 50%;
    color: rgb(255, 255, 255);
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: filter 300ms;
}
.icon_dark_mode:hover  {
    cursor: pointer;
    color: rgb(63, 11, 124);
}
.icon_dark_mode:focus  {
    color: rgb(63, 11, 124);
}
.icon_dark_mode:active  {
    color: rgb(63, 11, 124);
}


.icon_money_light {
    display: flex;
    font-size: 30px;
    color: #cacaca;
    cursor: pointer;
}

.icon_money_light:hover  {
    cursor: pointer;
    color: #858585;
}
.icon_money_light:focus  {
    color: rgb(63, 11, 124);
}
.icon_money_light:active  {
    color: rgb(63, 11, 124);
}


.icon_money_dark {
    display: flex;
    font-size: 30px;
    color: #b4b4b4;
    cursor: pointer;
}

.icon_money_dark:hover  {
    cursor: pointer;
    color: #e6e6e6;
}
.icon_money_dark:focus  {
    color: rgb(63, 11, 124);
}
.icon_money_dark:active  {
    color: rgb(63, 11, 124);
}

.secondary {
    display: flex;
}

.secondary:hover  {
    cursor: pointer;
    color: black;
}
.secondary:focus  {
    color: black;
}
.secondary:active  {
    color: black;
}