.icon {
    font-size: 30px;
    border-radius: 50%;
}

.light_mode {
    color: #000;
}
.light_mode:hover  {
    cursor: pointer;
    color: rgb(63, 11, 124);
}
.light_mode:focus  {
    color: rgb(63, 11, 124);

}
.light_mode:active  {
    color: rgb(63, 11, 124);
}

.dark_mode  {
    color: #fff;
}
.dark_mode:hover  {
    cursor: pointer;
    color: rgb(63, 11, 124);
}
.dark_mode:focus  {
    color: rgb(63, 11, 124);
}
.dark_mode:active  {
    color: rgb(63, 11, 124);
}