@media only screen and (min-width: 260px) and (max-width: 768px) {
  .container {
    width: 100%;
    max-width: 480px;
    padding: 25px 10px;
  }
  
  .user_header {
    width: 100%;
    max-width: 480px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
  }
  
  .container_profile_picture {
    max-width: 175px;
  }
  
  .user_profile_picture {
    border-radius: 50%;
  }
  
  .container_header_data {
    display: flex;
    flex-direction: column;
  }
  
  .container_user_data {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .data_number {
    height: 35px;
    background: rgba(207, 207, 207, 0.148);
    border-radius: 50%;
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    align-content: center;
    padding: 0;
    margin: 0;
  }
  
  .user_data {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 0;
  }
  
  .data_followers {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4px;
  }
  
  .data_posts {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4px;
  }
  
  .data_followings {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4px;
  }
  
  .data {
    font-size: 0.9em;
  }
  
  .container_user_description {
    margin: 10px 0;
    display: flex;
  }
  
  .container_buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
  }
	
}

@media only screen and (min-width: 769px) {
  .container {
    padding: 25px 10px;
  }
  
  .user_header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
  }
  
  .container_profile_picture {
    max-width: 150px;
  }
  
  .user_profile_picture {
    border-radius: 50%;
  }
  
  .container_header_data {
    display: flex;
    flex-direction: column;
  }
  
  .container_user_data {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .data_number {
    height: 35px;
    background: rgba(207, 207, 207, 0.148);
    border-radius: 50%;
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    align-content: center;
    padding: 0;
    margin: 0;
  }
  
  .user_data {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 0;
  }
  
  .data_followers {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4px;
  }
  
  .data_posts {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4px;
  }
  
  .data_followings {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4px;
  }
  
  .data {
    font-size: 0.9em;
  }
  
  .container_user_description {
    margin: 10px 0;
    display: flex;
  }
  
  .container_buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
  }
	
}