
.icon_light_mode {
    font-size: 30px;
    border-radius: 50%;
    color: #000;
    padding: 5px;
    margin: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: filter 300ms;
}
.icon_light_mode:hover  {
    cursor: pointer;
    filter: brightness(1.2);
    background: rgb(185, 185, 185);
}
.icon_light_mode:focus  {
    color: black;
    filter: brightness(1.2);
    background: rgb(185, 185, 185);

}
.icon_light_mode:active  {
    color: black;
    filter: brightness(1.2);
    background: rgb(185, 185, 185);
}

.icon_dark_mode  {
    font-size: 30px;
    border-radius: 50%;
    color: #fff;
}
.icon_dark_mode:hover  {
    cursor: pointer;
    color: rgb(63, 11, 124);
}
.icon_dark_mode:focus  {
    color: rgb(63, 11, 124);
}
.icon_dark_mode:active  {
    color: rgb(63, 11, 124);
}

