.container_user {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
    margin: 5px;
    cursor: pointer;
}

.container_user:hover {
    background: #e6e6e69b;
    transition: 0.3s;
}

.container_user:active {
    background: #c0bfbf
}

.user_name {
    padding-bottom: 10px;
}
