@media only screen and (min-width: 260px) and (max-width: 768px) {
    .navbar {
        height: 100vh;
        width: 100%;
        max-width: 480px;
        margin-top: 30px;
    }
    
    .navbar_nav {
        list-style: none;
        margin: 0;
        padding: 0;
        width: 100%;
        max-width: 480px;
        height: 100vh;
        display: flex;
        flex-direction: column;
        text-align: start;
    }
    .row {
        font-size: 20px;
        font-weight: 600;
        color: #929292;
    }
}

@media only screen and (min-width: 769px) {
    .navbar {
        height: 100vh;
        width: 100%;
        max-width: 480px;
        margin-top: 30px;
    }
    
    .navbar_nav {
        list-style: none;
        margin: 0;
        padding: 0;
        width: 100%;
        max-width: 480px;
        height: 100vh;
        display: flex;
        flex-direction: column;
        text-align: start;
    }
    .row {
        font-size: 20px;
        font-weight: 600;
        color: #929292;
    }
}